body {
    background-color: black;
    color: white !important;
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    position: fixed;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 2vw;

    div {
        text-align: center;
    }
    #start {
        width: 100px;
        height: 100px;
        font-size: 50px;
        // font-size: 10vw;
    }

    #drop {
        margin-top: 20px;
        font-weight: bold;
    }

    #defaults {
        margin-top: 30px;
        text-align: left;
        font-size: 1vw;
    }
}


article {
    position: fixed;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 3px;
    text-align: center;
    font-size: 10vw;

    img,
    video {
        /* display: block; */
        max-width: 100%;
        max-height: 100%;
    }
}