body {
  background-color: black;
  color: white !important;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}
main {
  position: relative;
}
menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  position: fixed;
  left: 5%;
  width: 90%;
  height: 90%;
  font-size: 2vw;
}
menu div {
  text-align: center;
}
menu #start {
  width: 100px;
  height: 100px;
  font-size: 50px;
}
menu #drop {
  margin-top: 20px;
  font-weight: bold;
}
menu #defaults {
  margin-top: 30px;
  text-align: left;
  font-size: 1vw;
}
menu #progress {
  margin-top: 10px;
}
menu #progress .circle-progress-value {
  stroke-width: 6px;
  stroke: hsl(320, 80%, 60%);
  stroke-dasharray: 4 1;
}
menu #progress .circle-progress-circle {
  stroke-width: 6px;
  stroke: #eee;
}
menu #progress .circle-progress-text {
  font-weight: bold;
  fill: hsl(180, 80%, 47%);
}
#aux_window {
  display: flex;
}
#aux_window #slide-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 50vw;
}
#aux_window #slide-wrapper > frame-preview {
  height: 60vh;
}
#aux_window #slide-wrapper > frame-preview > * {
  scale: 0.5;
}
#aux_window #slide-wrapper > frame-preview .current-step:before {
  content: '';
  position: absolute;
  margin-left: -60px;
  margin-top: 15x;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
#aux_window #slide-wrapper > :nth-child(2) {
  max-height: 30vh;
}
#aux_window #slide-wrapper > :nth-child(2) frame-preview > * {
  scale: 0.3;
}
#aux_window > :nth-child(2) {
  width: 50vw;
  padding-top: 5px;
}
frame-preview > article,
frame-preview > article-map {
  overflow: auto;
  display: block;
  transform-origin: 0 0;
}
frame-preview > article.prevent-animation-important *,
frame-preview > article-map.prevent-animation-important * {
  animation: unset !important;
}
frame-preview > article [data-step].step-not-yet-visible,
frame-preview > article-map [data-step].step-not-yet-visible {
  opacity: 0.5;
  border: 1px dotted red;
  animation-fill-mode: unset;
}
#hud {
  position: fixed;
  z-index: 10;
}
#hud > * {
  position: fixed;
}
#hud #playback-icon {
  right: 3vw;
  top: 3vh;
}
#hud #hud-fileinfo {
  right: 3vw;
  bottom: 10vw;
  text-align: right;
}
#hud #hud-fileinfo #hud-gps {
  display: none;
}
#hud #hud-fileinfo #hud-tag {
  background-color: blue;
  font-size: 300%;
}
#hud #hud-fileinfo #hud-menu {
  display: none;
}
#hud #hud-thumbnails {
  display: flex;
  width: 100vw;
  height: 30vh;
  bottom: 0;
  background-color: lightgray;
  gap: 1px;
}
#hud #hud-thumbnails > frame-preview {
  text-align: center;
  position: relative;
  width: 30vw;
  height: 30vh;
  color: black;
}
#hud #hud-thumbnails > frame-preview.current {
  color: white;
  box-shadow: 0px 5px 3px 5px darkgray;
}
#hud #hud-thumbnails > frame-preview > * {
  scale: 0.3;
}
#hud #hud-properties {
  max-width: 20vw;
  max-height: 70vh;
  top: 0;
  right: 0;
  background-color: lightgray;
  color: black;
  padding: 10px;
}
#map-hud {
  position: fixed;
  height: 10vh;
  min-height: 300px;
  min-width: 300px;
  width: 10vw;
  top: 3vh;
  right: 5vw;
  z-index: 1;
}
#map-hud .hud {
  display: none;
}
#map {
  position: absolute;
  height: 100%;
  width: 100%;
}
article,
article-map {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 10vw;
  margin-bottom: 100vh;
}
article.debugged,
article-map.debugged {
  background-color: blue;
}
[data-step] {
  animation: fade-in 0.5s forwards;
}
[data-step].step-hidden {
  animation: fade-out 0.3s forwards;
}
[data-step][data-step-shown]:not([data-step-shown='0']):not([data-step-shown='false']) {
  animation: unset;
}
article img,
article video {
  max-width: 100%;
  max-height: 100%;
}
article img:only-child,
article video:only-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
