body {
    background-color: black;
    color: white !important;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
}

main {
    position: relative;
    // zoom:0.05
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    position: fixed;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 2vw;

    div {
        text-align: center;
    }

    #start {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    #drop {
        margin-top: 20px;
        font-weight: bold;
    }

    #defaults {
        margin-top: 30px;
        text-align: left;
        font-size: 1vw;
    }

    #progress {
        margin-top: 10px;

        .circle-progress-value {
            stroke-width: 6px;
            stroke: hsl(320, 80%, 60%);
            stroke-dasharray: 4 1;
        }

        .circle-progress-circle {
            stroke-width: 6px;
            stroke: #eee;
        }

        .circle-progress-text {
            font-weight: bold;
            fill: hsl(180, 80%, 47%);
        }
    }
}

#hud {
    position: fixed; // note that when position:fixed does not work when moving body
    z-index: 10;

    >* {
        position: fixed;
    }

    #playback-icon {
        right: 3vw;
        top: 3vh;
    }

    #hud-fileinfo {
        right: 3vw;
        bottom: 10vw;
        text-align: right;

        #hud-gps {
            display: none; // XX not used right now
        }

        #hud-tag {
            background-color: blue;
            font-size: 300%;
        }
    }

    #hud-thumbnails { // XX not used
        display: none;
        display: flex;
        width: 100vw;
        max-height: 40vh;
        bottom: 0;
        background-color: blue;
        gap: 10px;

        >div {
            position: relative;
            max-width: 100px;
            max-height: 100px;

            &.current {
                background-color: red;
                border: 1px solid red;
            }

            >img {
                max-width: 100%;
            }
        }
    }
}

#map-hud {
    position: fixed;
    height: 10vh;
    min-height: 300px;
    min-width: 300px;
    width: 10vw;
    top: 3vh;
    right: 5vw;
    z-index: 1;

    .hud {
        display: none;
    }
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

article,
article-map {
    display: none; // initially hidden
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 10vw;
    margin-bottom: 100vh;
}

article {

    img,
    video {
        max-width: 100%;
        max-height: 100%;

        &:only-child {
            // Stretch the small image or video to the full frame size.
            // If there are more elements, leave the burden to the user.
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }
}


article-map {
    // as the map widget is hard to be moved in the DOM and yet we need to interact it
    // while keeping the article-map content above
    // pointer-events: none;
    // z-index: 1;
    // color: black;
}